html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1px solid black;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  background-color: orange;
}
.content {
  padding: 10px;
  display: flex;
  background-color: pink;
  justify-content: flex-start;
  box-sizing: border-box;
}

.content > .label {
  min-width: 200px;
  text-align: left;
}
.content > .unit {
  margin-left: 5px;
  min-width: 50px;
}
.disabled {
  background-color: inherit;
}
.content > input:not(.btn) {
  flex: 1;
}
.content > .btn {
  border: none;
  padding: 12px 24px;
}
