* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
:root {
  --height-header: 74px;
}
#header {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  color: #666;
}
.header__menu {
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: white;
  display: flex;
  width: 100%;
  color: #666;
  border-bottom: 0.5px solid gainsboro;
  justify-content: flex-start;
}
.header__item {
  padding: 15px;
  display: inline-block;
  line-height: 100%;
}
.header__item:first-child {
  padding: 0;
}
.header__item__img {
  display: inline-block;
  width: 150px;
  height: 73px;
}
.header__item:nth-child(2) {
  flex: 2;
  padding-left: 5%;
}
.header__item__search {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 12px;
  width: 100%;
}
.header__item__search > i {
  color: #ccc;
  margin-right: 10px;
}
.header__item__search > input {
  height: 100%;
  outline: none;
  border: none;
}

.header__item:nth-child(8) {
  margin-right: 237px;
}
.header__item:nth-child(3),
.header__item:nth-child(4),
.header__item:nth-child(5),
.header__item:nth-child(6),
.header__item:nth-child(7),
.header__item:nth-child(8) {
  height: 73px;
  line-height: 50px;
}
.header__item:nth-child(3) a,
.header__item:nth-child(4) a,
.header__item:nth-child(5) a,
.header__item:nth-child(6) a,
.header__item:nth-child(7) a,
.header__item:nth-child(8) a {
  text-decoration: none;
  color: inherit;
}
.header__item:nth-child(8) {
  border-bottom: 3px solid #f65e39;
}
.header__item:nth-child(3):hover,
.header__item:nth-child(4):hover,
.header__item:nth-child(5):hover,
.header__item:nth-child(6):hover,
.header__item:nth-child(7):hover,
.header__item:nth-child(8):hover {
  border-color: #f65e39;
  background-color: #f65e39;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header__item > .navbar {
  position: absolute;
  top: -1000px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 12px 0 12px 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header__item > .navbar > li {
  display: inline-block;
  width: 120px;
}
.header__item > .navbar > li:nth-child(odd) {
  padding-left: 10px;
}
.header__item > .navbar > li:nth-child(even) {
  margin-left: 50px;
  text-align: left;
  padding-left: 10px;
}

.header__item .navbar li {
  list-style: none;
}
.header__item .navbar li > a {
  text-decoration: none;
  color: #222;
}
.header__item > .navbar > li:hover {
  border-color: #f65e39;
  background-color: #f65e39;
  color: #fff !important;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.header__item > .navbar > li:hover > a {
  color: #fff;
}
.header__item:hover > .navbar {
  position: absolute;
  top: 80px;
  transition: all 0.3s ease;
}
  /* ----------------------------------------container------------------------------------------------ */
  #container {
    margin: 100px 200px 0 200px;
    line-height: 1.6;
  }
  .hello_name{
    color:#666;
    font-size:16px;
    cursor:pointer;
    margin-bottom:10px;
    padding-left: 3px;
  }
  .hello_name a{
    text-decoration: none;
  }
  .content{
    border: 1px solid #ccc;
    padding:0;
    line-height:1.6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content__first{
    position: relative;
    background-color:#f65e39;
}
.content__first__img{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 180px;
    min-height:180px;
    max-height: 180px;
    position:absolute;
    right:20px;
    top:40px;
}
.content__first__name{
    padding: 20px;
    
}
.content__first__name >h1{
    color:white;
    text-transform:uppercase;
}
.content__first__name >span{
    color:rgb(241, 228, 228);
    font-size: 16px;
}
.content__first__name >p{
    color:rgb(241, 228, 228);
    font-size: 16px;
}
.content__second{
    padding: 20px;
    padding-bottom: 0;
}
.content__second__title{
    color:#ec7456;
    text-transform:uppercase;
}
.content__second__title__img{
    width:30px;
}
.content__second__content{
    padding-left:40px;
    font-size:16px;
}

.content__third{
    padding: 20px;
    padding-top:0px;
    padding-bottom: 0;
}
.content__third__title{
    color:#ec7456;
    text-transform:uppercase;
}
.content__third__title__img{
    width:30px;
}
.content__third__content{
    padding-left:40px;
    font-size:16px;
}

.content__four{
    padding: 20px;
    padding-top:0px;
    padding-bottom: 0;
}
.content__four__title{
    color:#ec7456;
    text-transform:uppercase;
}
.content__four__title__img{
    width:30px;
}
.content__four__content{
    padding-left:40px;
    font-size:16px;
}

.content__five{
    padding: 20px;
    padding-top:0px;
    padding-bottom:20px;
}
.content__five__title{
    color:#ec7456;
    text-transform:uppercase;
}
.content__five__title__img{
    width:30px;
}
.content__five__content{
    padding-left:40px;
    font-size:16px;
}
/* -----------------------------------------scroll Top-------------------------------------------- */
#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
}
.scrollTop__img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  transition: all ease 0.5s;
}

/* ------------------------------------------Footer------------------------------------------------- */
#footer {
  margin-top: 50px;
  background-color: #f1f1f1;
  width: 100%;
  height: 200px;
}
#footer > .social-list {
  padding-top: 80px;
  width: 100%;
  text-align: center;
}
#footer > .social-list > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}
#footer .footer-by {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 15px 0;
}
#footer .footer-by:hover,
#footer > .social-list > a:hover {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* fixed cart */

.fixed__item {
  display: none;
}
.fixed__item__search,
.fixed__item__cart,
.fixed__item__profile {
  display: none;
}
