@media only screen and (max-width: 46.25em) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  /* :root {
      --height-header: 74px;
    } */

  .header__item:nth-child(3),
  .header__item:nth-child(4),
  .header__item:nth-child(5) {
    padding: 15px 9px;
    min-width: 87px;
    text-align: center;
  }
  .header__item:nth-child(3) a,
  .header__item:nth-child(4) a,
  .header__item:nth-child(5) a {
    text-decoration: none;
    color: inherit;
  }
  .header__item:nth-child(2),
  .header__item:nth-child(6),
  .header__item:nth-child(7),
  .header__item:nth-child(8) {
    display: none;
  }
  .header__menu {
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: white;
    display: flex;
    width: 100%;
    color: #666;
    border-bottom: 0.5px solid gainsboro;
    justify-content: flex-start;
    padding: 0px;
  }
  .header__item {
    display: inline-block;
    line-height: 100%;
  }
  .header__item__img {
    display: inline-block;
    padding-top: 20px;
    width: 100px;
    height: auto;
  }
  .header__item > .navbar > li {
    display: inline-block;
    width: 120px;
  }
  .header__item > .navbar > li:nth-child(odd) {
    padding-left: 10px;
    text-align: left;
  }
  .header__item > .navbar > li:nth-child(even) {
    margin-left: 50px;
    text-align: left;
    padding-left: 10px;
  }

  .header__item .navbar li {
    list-style: none;
  }
  .header__item .navbar li > a {
    text-decoration: none;
    color: #222;
    padding-left: 10px;
  }

  .header__item > .navbar > li:hover > a {
    color: #fff;
    border-color: #f65e39;
    background-color: #f65e39;
    display: inline-block;

    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .header__item > .navbar > li:hover {
    border-color: #f65e39;
    background-color: #f65e39;
    color: #fff !important;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  .header__item:hover > .navbar {
    position: absolute;
    top: 80px;
    left: 40px;
    transition: all 0.3s ease;
  }

  /* -----------------------------Container---------------------------- */
  #container {
    margin: 100px 5px 0 5px;
    line-height: 1.6;
  }
  /* -----------------------------------------container------------------------------------------------ */
  .content {
    margin-top: 10px;
    text-align: justify;
  }
  .content__button {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .content__button > button {
    padding: 0.5em 0.8em;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 0.75rem;
    margin-bottom: 0.5em;
    border-radius: 5px;
    height: 36px;
    border: 1px solid #ccc;
    background: transparent;
    transition: all 0.3s;
  }
  .content__button > button:hover {
    color: #fff;
    border-color: #f65e39;
    background-color: #f65e39;
    cursor: pointer;
  }
  /* -----------------------------------------content__two------------------------------------------ */
  .content__two {
    font-size: 16px;
    color: #555;
    cursor: default;
  }
  /* -----------------------------------------content__final------------------------------------------ */

  .content__final__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .content__title {
    color: #222;
    margin-bottom: 10px;
    order: 2;
    margin-top: 20px;
  }
  .content__final__sort {
    position: relative;
    order: 1;
  }
  .content__final__sort--title {
    border: 1px solid #ccc;
    padding: 8px 20px 8px 12px;
    font-size: 15px;
    color: #222;
    border-radius: 5px;
  }
  .content__final__sort--title:hover {
    border-color: #f65e39;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .content__final__sort--toggle {
    position: absolute;
    top: 50px;
    left: 10px;

    background-color: white;
    padding: 5px 0px;
    display: none;
    min-width: 245px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .content__final__sort--toggle > a {
    font-size: 15px;
    width: 100%;
    padding: 5px 12px;
    text-decoration: none;
    color:inherit;
  }
  .content__final__sort--icon {
    margin-left: 80px;
  }
  .content__final__sort--toggle > a:hover {
    background-color: #fd9456;
    cursor: pointer;
  }
  .content__final__sort:hover .content__final__sort--toggle {
    display: block;
    transition: all 0.3s ease;
  }

  .content__homestay__img {
    width: 100%;
    border-radius: 3px;
    height: 170px;
    cursor: pointer;
  }
  .homestay__item {
    color: rgb(118, 118, 118);
    font-size: 14px;
  }
  .homestay__name {
    color: rgb(72, 72, 72);
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
  }
  .homestay__price {
    font-weight: bold;
    font-size: 0.875rem;
    color: #222;
  }
  .content_favicon {
    width: 1rem;
    display: inline-block;
  }

  /* ------------------------------------------Footer------------------------------------------------- */
  #footer {
    margin-top: -30px;
    background-color: #f1f1f1;
    width: 100%;
    height: 200px;
  }
  #footer > .social-list {
    padding-top: 80px;
    width: 100%;
    text-align: center;
  }
  #footer > .social-list > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
  }
  #footer .footer-by {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
  }
  #footer .footer-by:hover,
  #footer > .social-list > a:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .item__page{
    text-align: center;
    margin-bottom: 50px;
   }
   .item__page > .item__page_item {
     padding:8px;
     border:1px solid #ccc;
     margin-right: 3px;
     text-decoration: none;
     color:#f65e39;
   }
     /* fixed_cart */
  .fixed__item{
    display: block;
    position: fixed;
    top: 50%;
    left:-6px;
    z-index:100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid;
    border-radius: 0 20px 20px 0;
    background-color: white;
    padding:5px 10px;
   
  }
  .fixed__plus{
    width:30px;
  }
  
  .fixed__item__profile{
    position: fixed;
    top:50%;
    left:-50px;
    display: block;
    z-index: 100;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    padding:10px;
    transition:all 0.3s ease;
  }
  .fixed__profile__img{
    width:30px;
  }
  
  .fixed__item__cart{
    position: fixed;
    top:50%;
    left:-50px;
    display: block;
    z-index: 100;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    padding:10px;
    transition:all 0.3s ease;
  }
  .fixed__cart__img{
    width:30px;
  }
  
  .fixed__item__search{
    position: fixed;
    top:50%;
    left:-50px;
    display: block;
    z-index: 100;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    padding:10px;
    transition:all 0.3s ease;
    
  }
  .fixed__search__img{
    width:30px;
  }
  .fixed__item:hover ~ .fixed__item__profile{
    position:fixed;
    top:43%;
    z-index:100;
    cursor: pointer;
    transform: translateX(78px);
    transition:all 0.3s ease;
  }

  .fixed__item:hover ~ .fixed__item__cart{
    position:fixed;
    top:50%;
    z-index:100;
    cursor: pointer;
    transform: translateX(109px);
    transition:all 0.3s ease;
  }
  .fixed__item:hover ~ .fixed__item__search{
    position:fixed;
    top:57%;
    z-index:100;
    cursor: pointer;
    transform: translateX(78px);
    transition:all 0.3s ease;
  }
  .fixed__item__inputSearch{
    position: fixed;
    top:50%;
    left:-300px;
    z-index:100;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:0px;
  }
  .fixed__inputSearch__item{
    display: inline;
    width:69%;
    height:40px;
    padding:8px;
    border: none;
    margin-right: 0px;
    outline: none;
  }
  .fixed__inputSearch__btn{
    display: inline-block;
    padding:8px;
    border:none;
    color:#ccc;
    height:40px;
    margin-left: 0px;
    background-color:none;
  }
  .fixed__item__search:hover ~ .fixed__item__inputSearch{
    position: fixed;
    top:15%;
    transform: translateX(350px);
    transition: all 0.5s ease;
  }
  .fixed__item__inputSearch:hover{
    position: fixed;
    top:15%;
    transform: translateX(350px);
    transition: all 0.5s ease;
  }
}
